.span-16
  %p
    Playground Society is a way to bring more play into your life.
  %p
    The basic idea is that you will get 2 or 3 text messages a week, each of them assigning you a simple Play Mission. The missions are designed to be fun, and meant to fit seamlessly into your normal day-to-day. Then, you may also snap a picture of the mission and upload it to your profile. After you receive the mission, you have effectively unlocked it, and you can see everyone's documentation for that mission. Here is a description of Sample Play Missions.
  %p
    %a(href="/signup")Signing up 
    is free.
