%h2 about playground society
%p
  Playground Society is a way to bring more play into your life.
%p
  The basic idea: You will get 2 or 3 text messages a week, each a simple Play Mission. The missions are designed to be fun, and meant to fit seamlessly into your normal day-to-day. 
%p
  As an extension of the play, you may also snap a picture of the mission and upload it to your profile. After you receive a mission, you have effectively unlocked it, and you can see everyone's documentation for that mission. 
%p
  Here are some sample 
  %a(href="/play")Play Missions.
%p
  %a(href="/signup")Sign up
  %strong (It's FREE!)
%p
  Playground Society launched, May, 2011.
%p
  Contact: 
  %a(href='mailto:PlaygroundSociety@gmail.com')PlaygroundSociety@gmail.com
%p
  All funds donated to the site will pay for the text messaging service and website improvements.
%p
  Thanks very much for your donations!

-# %p Contact
-# Donate snippet from PayPal
:erb
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAV33KEFvoPafLLRoi1ZJ/RA4wCvm6+xhYKTTn8nxy2PgyXjtg8YFmxULKG06GLH1Xa45kTN70H2/SesClUOR4xOsr4jx5GBU24QtkjQgLF4n876JJoZ+qd2uqAEmS/DzaazlCZXcMuIMaI+4Fgt/EhtUPqiCJE3oT5J+jzQNFs9DELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQINYo4IQVeOGSAgZAm6ADSav25mxCpFdqNrSqHImGPbK/VHVdZIRSi5Bv/5f8tXFWjdFwP9BYFNED8rpM2w0TsNmDTWPk9eH934WOG11Cffzxu/5gnFeXMhSA2mKwfdSqL5pjkQkNvN2KhXBAIOsuabFLOCI5qVBQxVdt6tNotE2EoWNAvyBB9as7KybLZcXdzaJWkpJfyjDz1YOygggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMTA1MDIxOTI4MzdaMCMGCSqGSIb3DQEJBDEWBBSOmwTV0NjAKbUpGXSWvprFlJLgVTANBgkqhkiG9w0BAQEFAASBgEKuPCdnAW8dQAhbhqEwrsm015GpqWu2OZJmTCUCxearx3IoKL1idhSWNwCogmdeBD5UtKjURCoErbY5cmdnuMkToDFE4t1b0C5TrcWAuw0h28p7dlh1+5H1FyPzfhozoz2vOeuZ1knBmIwncaIlCuQdfU2C7KTwtWgdGsrltQkR-----END PKCS7-----
  ">
  <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
