.slideshow.span-16
  %img.span-16(src="/images/PlaygroundScroll1.png")
  %img.span-16(src="/images/PlaygroundScroll2.png")
  %img.span-16(src="/images/PlaygroundScroll3.jpg")
  %img.span-16(src="/images/PlaygroundScroll4.jpg")
