.slideshow
  %img.span-16(src="/images/PlaygroundScroll1.jpg")
  %img.span-16(src="/images/PlaygroundScroll2.jpg")
  %img.span-16(src="/images/PlaygroundScroll3.jpg")
  %img.span-16(src="/images/PlaygroundScroll4.jpg")
%p.push-7
  %a(href='/signup')Join the fun!
