!!! 5
%html
  %head
    %title Playground Society
    %link(href="/css/reset.css" rel="stylesheet")
    %link(href="/css/style.css" rel="stylesheet")
  %body
    = yield
  %footer
    -# %a(href="/") Home
    -# %a(href="/signup")Sign Up
    -# %a(href="/admin")Admin
