!!! 5
%html
  %head
    %title Playground Society
    %link(href="/css/screen.css" rel="stylesheet" type="text/css" media="screen, projection")
    %link(href="/css/print.css" rel="stylesheet" type="text/css" media="print")
    /[if lt IE 8]
      %link(href="/css/ie.css" rel="stylesheet" type="text/css" media="screen, projection")
    %link(href="/css/style.css" rel="stylesheet" type="text/css" media="screen, projection")

    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js")
    %script(type="text/javascript" src="/js/jquery.cycle.all.latest.js")

    :javascript
      $(document).ready(function() {
        $('.slideshow').cycle({
          fx: 'fade'
        });
      });

  %body
    .container
      #topbar.span-16
        - if session[:user]
          %strong #{session[:login]}
          - if session[:admin]
            %a(href="/admin/users") Users Panel
            %a(href="/admin/missions") Missions Panel
          %a(href="/logout") Logout
      #navbar.span-16
        %a(href="/")
          %img.span-4.first.nav-logo(src="/images/PlayGroundSociety.jpg")
        #navimgs.span-12.last
          %a(href="/about")
            %img.span-3.nav-img(src="/images/NavAbout.jpg")
          %a(href="/missions")
            %img.span-3.nav-img(src="/images/NavPlayMissions.jpg")
          %a(href="/account")
            %img.span-3.nav-img(src="/images/NavProfile.jpg")
          %a(href="/login")
            %img.span-3.last.nav-img(src="/images/NavSignIn.jpg")

      #content.span-16
        = yield

      #footer
        -# %a(href="/") Home
        -# %a(href="/signup")Sign Up
        -# %a(href="/admin")Admin
