.span-16
  %h3 Play Missions
  %p
    As you receive Play Missions, they become unlocked and you can see documentation for each mission by the entire community of players.
  %p
    In the meantime, check out the sample Play Missions below and then 
    %a(href="/signup") Sign Up 
    to start playing!

  %hr
  %h3 Sample Missions
  %p
    %img.span-3.first(src="/images/KeySample1.jpg")
    %p.span-9
      In this mission, pretend that your fist holds a 
      problem that has been on your mind lately, 
      and when you put the key in and turn it this 
      playful act will unlock something inside your 
      mind and later in the day you will start to 
      solve the problem.
    %img.span-1(src="/images/ButtonPretend.jpg")
    %img.span-3.last(src="/images/KeySample2.jpg")
  %hr
    %img.span-3.first(src="/images/TallSurfaceSample1.jpg")
    %p.span-9
      In this mission, take a moment and find a surface 
      to stand on that you wouldn't normally hang out. 
      While there, pretend you're invisible, or pretend 
      you're the guardian of the area. Or, just hang out 
      for a bit.
    %img.span-1(src="/images/ButtonPhysical.jpg")
    %img.span-3.last(src="/images/TallSurfaceSample2.jpg")
  %hr
    %img.span-3.first(src="/images/CastleSample1.jpg")
    %p.span-9
      In this social mission, ask a few strangers for directions to the   castle. If they seem confused, just say that you heard there was a castle around here somewhere. See where they point you.
    %img.span-1(src="/images/ButtonSocial.jpg")
    %img.span-3.last(src="/images/CastleSample2.jpg")
  %hr
    %img.span-3.first(src="/images/TreeSample1.jpg")
    %p.span-9
      For this relaxing mission, find a tree to hang out with for awhile. Listen to the tree. Read the tree's mind. In doing so, this tree becomes a place where your energy can be restored. All it takes is a little playful, relaxing, pretending.
    %img.span-1(src="/images/ButtonRelaxing.jpg")
    %img.span-3.last(src="/images/TreeSample2.jpg")

