.prepend-3
  #signup-form.box.span-9
    %h3 sign up
    %p
      Playground Society is free. We will send you 2-3 text messages per week that will bring more play into your life.
    .flash= flash[:notice]
    %form(action="#{action}" method="POST")
      %p
        %label Choose a username (this will be public):
        %br
        %input.text(type="text" name="login")
        %br
      %p
        %label Choose a password:
        %br
        %input.text(type="password" name="password")
        %br
      %p
        %label Phone (10 digits, no dashes, like this: 2125551234):
        %br
        %input.text(type="text" name="phone")
        %br
      %p
        %input(type="submit" value="Join")
