.prepend-3
  #signup-form.box.span-9
    %h3 Sign Up
    .flash= flash[:notice]
    %form(action="#{action}" method="POST")
      %p
        %label Login:
        %br
        %input.text(type="text" name="login")
        %br
      %p
        %label Password:
        %br
        %input.text(type="password" name="password")
        %br
      %p
        %label Phone (10 digits, no dashes, like this: 2125551234):
        %br
        %input.text(type="text" name="phone")
        %br
      %p
        %input(type="submit" value="Join")
