/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/**
 * Primary styles
 *
 * Author: 
 */

body {
  margin: 35px auto;
  width: 80%;
}

header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header h1 { font-size: 20px; }

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

content {
  margin: 0 auto;
}

table  {
  margin-left: auto;
  margin-right: auto;
}

table tr td { 
  /* background-color: #0f0f0f;*/
  padding: 10px;
  text-align: justify;
}

.formLayout input {
  display: block;
  width: 120px;
  float: left;
  margin-bottom: 10px;
}

.formLayout label {
  display: block;
  width: 120px;
  float: left;
  margin-bottom: 10px;
  text-align: right;
  padding-right: 20px;
}

.formRow {
  margin-left: auto;
  margin-right: auto;
}

.missionUpdateLayout textarea {
  height: 60px;
  width: 480px;
  border: 1px solid #ddd;
  padding: 10px;
}

br {
  clear: left;
}

.sms_input textarea {
  height: 40px;
  width: 300px;
  border: 1px solid #ddd;
  padding: 10px;
}

.flash {
  background-color: lightyellow;
  text-align: center;
}

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 30px;
}
